
.grid-left{
    width: 100%;
    background-color: transparent;
}

.cart-container{
    background-color: #fff;
    padding: 10px 10px;
}

.total-count{
    width: 100%;
    margin: 0 auto;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
}


.total-count em {
    font-style: normal;
    font-size: 16px;
    color: #ff4200;
    margin: 0 5px;
}

.cart-thead{
    background-color: #f3f3f3;
    border: 1px solid #e9e9e9;
}

.cart-thead li{
    float: left;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 12px;
    color: #666;
}

.cart-thead li.col01{
    width: 40%;
}

.cart-thead li.col02{
    width: 13%;
}

.cart-thead li.col03{
    width: 15%;
}

.cart-thead li.col04{
    width: 15%;
}

.cart-thead li.col05{
    width: 15%;
}

ul.cart-list-item{
    width: 100%;
    border: 1px solid #ddd;
    background-color: #edfff9;
    margin: 0 auto;
    margin-top: -1px;
    color: #333;
    font-size: 12px;
}

ul.cart-list-item li{
    height: 120px;
    line-height: 120px;
    float: left;
    text-align: center;
}

ul.cart-list-item  li.col01 {
    width: 4%;
}

ul.cart-list-item  li.col02 {
    width: 12%;
}

ul.cart-list-item  li.col02 img {
    width: 100px;
    height: 100px;
    border: 1px solid #ddd;
    display: block;
    margin: 10px auto 0;
}

ul.cart-list-item  li.col03 {
    width: 24%;
    height: 48px;
    text-align: left;
    line-height: 18px;
    margin-top: 38px;
}

ul.cart-list-item  li.col03 > a{
    color: #666;
    display: inline-block;
    width: 100%;
    height: 100%;
}



ul.cart-list-item  li.col04{
    width: 13%;
}

ul.cart-list-item  li.col05{
    width: 15%;
}


ul.cart-list-item li.col05 .num-operate {
    width: 98px;
    height: 30px;
    border: 1px solid #ddd;
    margin: 40px auto 0;
}

ul.cart-list-item li.col05 .num-operate a {
    width: 29px;
    height: 28px;
    line-height: 28px;
    background-color: #f3f3f3;
    font-size: 14px;
    color: #666;
}

ul.cart-list-item li.col05 .num-operate input {
    width: 38px;
    height: 28px;
    text-align: center;
    line-height: 30px;
    border: 0px;
    display: block;
    float: left;
    outline: none;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}


ul.cart-list-item  li.col06{
    width: 15%;
}


ul.cart-list-item  li.col07{
    width: 15%;
}

ul.cart-list-item  li.col07 a{
    color: #666;
}


.options-box{
    width: 100%;
    height: 58px;
    border: 1px solid #ddd;
    background-color: #fff;
    margin: -1px auto 0;
}

.options-box li{
    height: 100%;
}
.options-box .select-all{
    width: 60px;
    line-height: 100%;
    padding: 20px 0 16px 18px;
    color: #999;
    font-size: 12px;
}

.options-box .select-all input{
    position: relative;
    top:3px;
    margin-right: 5px;
}


li.clear-all{
    margin-left: 10px;
}

li.clear-all a{
    display: inline-block;
    height: 100%;
    color: #666;
    font-weight: 700;
    font-size: 12px;
    line-height: 55px;
}


li.total-goods{
    width: 69%;
    text-align: right;
    font-size: 12px;
    color: #999;
    height: 44px;
    line-height: 23px;
    margin-top: 7px;

}

li.total-goods span{
    color:#E2231A;
    font-weight: 700;
    margin: 0 3px;
}

li.total-price{
    margin: 7px 20px 0 10px;
    height: 44px;
    line-height: 20px;
    color: #999;
    font-size: 12px;
}

li.total-price span{
    font-size: 16px;
    color: #E2231A;
    font-weight: 700;
}

li.settle-accounts{
    display: inline-block;
    width: 94px;
    height: 50px;
    line-height: 50px;
    color: #fff;
    text-align: center;
    font-size: 18px;
    background-color: #e54346;
}

.settle-accounts input{
    background-color: transparent;
    border: none;
    color: #fff;
    width:100%;
}