<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Python在线编辑器</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>
        #runBtn{
            margin-top: 10px; /*留出和输入框的间距*/
        }
        #inputCode{
            font-size: 17px;
            resize: none;
            min-height: 200px;
         }
        #outputResult {
            font-size: 17px;
            resize: none;
            min-height: 200px;
        }
    </style>
</head>
<body>
    <div class="container"> <!-- 页面整体布局容器 -->
        <div class="row">   <!-- 行(row)必须包含在布局容器中,通过“行（row）”在水平方向创建一组“列（column）”。 -->
            <div class="col-md-12"> <!--你的内容应当放置于“列（column）”内，并且，只有“列（column）”可以作为行（row）”的直接子元素。 -->
                <p class="text-center h1"> <!-- text-center文本对齐类，将文字中间对齐。h1不仅能做标签还能做类，给内联属性的文本赋予标题样式。-->
                    Python在线编辑器
                </p>
            </div>
        </div>
        <hr><!-- 标题和真正内容的分割线 -->

        <div class="row"> <!-- 代码输入部分 -->
            <div class="col-md-12">
                <p class="text-center h3">
                    在下面输入代码
                </p>
                <!-- 所有设置了 .form-control 类的 <input>、<textarea> 和 <select> 元素都将被默认设置宽度属性为 width: 100%;。 -->
                <textarea id="inputCode" class="form-control" placeholder="请开始指尖上的表演"></textarea>

                <div class="text-right">
                    <button id="runBtn" type="button" class="btn btn-primary">点击运行</button>
                </div>
            </div>

        </div>

        <div class="row"> <!-- 结果显示部分 -->
            <div class="col-md-12">
                <p class="text-center h3">运行结果</p>
                <!-- 所有设置了 .form-control 类的 <input>、<textarea> 和 <select> 元素都将被默认设置宽度属性为 width: 100%;。 -->
                <textarea id="outputResult" class="text-left form-control" readonly placeholder="运行结果..."></textarea>
            </div>
        </div>
    </div>

    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script>
        // 通过js随着输入的内容自动调整高度
        function changeSize(e) {
            $(e).css({'height': 'auto', 'overflow-y': 'hidden'}).height(e.scrollHeight)

        }
        // each()函数将根据匹配到的每一个元素循环调用函数callback。每次调用函数callback时，each()函数都会将callback函数内部的this引用指向当前正在迭代的元素，并为其传入两个参数。
        $('#inputCode').each(
            function () {
                this.oninput = function () {
                    changeSize(this)
                }
            }

        );

        // 获取输入框代码
        function getCode() {
            return $('#inputCode').val()
        }

        // 点击运行按钮，即发送代码给后端
        $('#runBtn').click(function () {

            $('#outputResult').val('正在运行...'),

            $.ajax({
                url: '/categories/category-9.html',
                type: 'POST',
                data: {'code': getCode()},
                dataType: 'json',

                success: function (res) {
                    // 输出结果并改变输出框大小
                    var outputEle = document.getElementById('outputResult');
                    outputEle.value = res['output'];
                    changeSize(outputEle);
                },

                error: function (err) {

                }

            });
        });


    </script>

</body>
</html>