.banner {
    display: none;
}

.grid-left {
    margin: 0 auto;
    width: 100%;
}

.category-wrap{
    width: 100%;
    margin-top: 20px;
    font-size: 18px;
}

.category-title {
    width: 100%;
    margin-bottom: 0.2rem;
    position: relative;
}

.category-title h2 {
    display: inline-block;
    color: #111;
    font-weight: 500;
    height: 40px;
    line-height: 30px;
    font-size: 20px;
    border-bottom: 2px solid #4285F4;
    margin-left: 0.2rem;
}

.category-title a {
    position: absolute;
    left: 150px;
    height: 100%;
    line-height: 60px;
    color: #666;
    font-size: 13px;
}

.category-title a:hover {
    color: #4285f4;
}

.category-article-list{
    width: 100%;
}
.category-article-box {
    width: 18.5%;
    height: 150px;
    overflow: hidden;
    margin: 15px 8px;
    transition: all .5s linear;
}

.category-article-box:hover {
    box-shadow: 0 5px 15px #B0AFAF;
}

.category-article-box:hover .category-article-head img {
    transform: scale(1.1); /*transform是控制变形的1是调节变形大小的放大多少倍*/
}

a.category-article-head {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.category-article-head span{
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: #fff;
    font-size: 14px;
    position: relative;
    top: -40px;

}


.category-article-head img {
    width: 100%;
    height: 100%;
    transition: all 1s;
}


.empty-article {
    text-align: center;
    height: 60px;
    line-height: 60px;
    color: #999;
}

@media screen and (max-width: 760px){
    .category-title h2 {
        float: left;
        font-size: 0.35rem;
    }
    .category-title a {
        left: 2.5rem;
        font-size: 0.28rem;
    }
    .category-article-box {
        width: 100%;
        margin: 0.2rem 0;
    }
    .category-article-center a {
        text-align: center;
    }
    .category-article-bottom span {
        text-align: left;
    }
}
