{% extends 'admin/base.html' %}
{% load static %}

{% block title %}
    栏目管理页
{% endblock %}


{% block content_header %}
    栏目管理
{% endblock %}

{% block header_option_desc %}
    栏目管理
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-md-12 col-xs-12 col-sm-12">
            <div class="box box-primary">
                <div class="box-header">
                    <button class="btn btn-primary pull-right" id="btn-add-column">
                        <i class="fa fa-plus"></i>
                        添加栏目
                    </button>
                </div>
                <div class="box-body">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>序列ID</th>
                            <th>栏目名称</th>
                            <th>链接地址</th>
                            <th>分类数量</th>
                            <th>栏目位置</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for one_column in columns %}
                                <tr data-id="{{ one_column.id }}" data-name="{{ one_column.name }}" data-link="{{one_column.link_url}}"
                                data-index="{{one_column.index}}">
                                    <td>{{ one_column.id }}</td>
                                    <td>{{ one_column.name }}</td>
                                    <td>{{ one_column.link_url }}</td>
                                    <td>{{ one_column.num_categories }}</td>
                                    <td>{{ one_column.index }}</td>

                                    <td>
                                        <button class="btn btn-xs btn-warning btn-edit">
                                            <i class="fa fa-edit"></i>
                                            &nbsp;编辑
                                        </button>
                                        <button class="btn btn-xs btn-danger btn-del">
                                           <i class="fa fa-trash-o"></i>
                                            &nbsp;&nbsp;删除
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'js/admin/article/column_manage.js' %}"></script>

{% endblock %}


