{% extends 'base.html' %}
{% load static %}
{% load article_date_filter %}


{% block title %}{{ article.title }} - 全民Python{% endblock %}

{% block keywords %}{{ article.keywords }}{% endblock %}

{% block description %}{{ article.description }}{% endblock %}


{% block css %}
    <link rel="stylesheet" href="/static/css/article/article.css">

{#    <link rel="stylesheet" href="{% static 'css/article/prism.css' %}">#}
{#    <link rel="stylesheet" href="/static/plugins/editor_md/css/editormd.css">#}
    <link rel="stylesheet" href="/static/plugins/editor_md/css/editormd.preview.css">
{#    <link rel="stylesheet" href="https://jmblog.github.io/color-themes-for-google-code-prettify/themes/tomorrow-night-bright.min.css">#}

{#    <link rel="stylesheet" href="{% static 'highlight/styles/tomorrow-night-eighties.css' %}">#}




{% endblock %}

{% block top_js %}
    <script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>

    <script>
        let testEditor;   // plugins中是如emoji表情支持、代码格式化等插件；
        $(function () { //这个js直接写在在html中好处是，html可以用static， examples文件中是使用PHP做的所有示例(可以在文档编辑器里打开，并查看源代码
            testEditor = editormd.markdownToHTML("article-content", { //div的值，article-content是html文档的ID
                htmlDecode: "style,script,iframe",
                emoji: true,
                taskList: true,
                tex: true, // 默认不解析
                flowChart: true, // 默认不解析
                sequenceDiagram: true, // 默认不解析
                codeFold: true,
                lineNumbers:true
            });

        $(".markdown-toc-list").before("<div class='article-list'>目录</div>");

        });
  </script>


{% endblock %}



{% block banner %}
    <div class="current-position">
        当前位置：
        <a href="{% url 'index' %}">首页</a>
        <span> > </span>
        <a href="{{ article.category.column.link_url }}">{{ article.category.column.name }}</a> <!--跨表查询，正向直接子表.主表即可 -->
        <span> > </span>
        <a href="{% url 'categories' article.category.id %} ">{{ article.category.name }}</a>
        <span> > </span>
        <a class="article-title">正文</a>
    </div>
{% endblock %}


{% block grid-left %}
    <div class="article-container">
        <div class="article-header">
            <h1 class="article-title">{{ article.title }}</h1>
            <div class="article-meta">
                <span class="auth"><i class="icon-yonghu1 iconfont"></i>&nbsp;{{ article.author.nick_name }}</span>
                <span class="dtime"><i class="icon-shijian iconfont"></i>&nbsp;{{ article.create_time|date_format }}</span>
                <span class="viewnum"><i class="icon-liulan iconfont"></i>&nbsp;阅读({{ article.read_num }})</span>
                <span class="like">
                    <i class="icon-xihuan iconfont"></i>&nbsp;(<span>{{ article.like_num }}</span>)</span>
            </div>
        </div>
        <article class="article-content">
            <div id="article-content">
                <textarea name="content" style="display:none;">{{ article.content|safe }}</textarea> {# article-content-html-code #}
            </div>
        </article>
        <div class="article-copyright">
            转载此文章须经作者同意，并请附上本页链接：{{ request.META.HTTP_HOST }}{{ request.path }}
        </div>
        <div class="article-tags">
                {% for one_tag in article.tag.all %}
                    <a href="{% url 'tags' one_tag.id %}">{{ one_tag.name }}</a>
                {% endfor %}
        </div>
        <!--点赞，赞赏 -->
        <div class="article-actions clearfix">
            <a href="javascript:;" class="thumbs-up" onclick="likeArticle({{ article.id }});"><i
                    class="iconfont icon-xihuan"></i>赞(<span>{{ article.like_num }}</span>)</a>
            <a href="javascript:void(0);" class="reward" onclick="payToggle();"><i class="iconfont icon-fukuan"></i>打赏</a>

            <div class="hide-box"></div>
            <div class="reward-box clearfix">
                <span class="pay-close" href="javascript:;" onclick="closeDig();" title="关闭">关闭</span>
                <div class="pay-title">
                    <h3>感谢您的支持，我会继续努力的!</h3>
                </div>
                <!-- 二维码 -->
                <div class="pay-code">
                    <img src="{% static 'image/payment/alipay.png' %}" alt="扫码支持" title="扫一扫">
                </div>
                <div class="pay-explain">扫码打赏，你说多少就多少</div>
                <!-- 选择支付方式-->
                <div class="payment-method">
                        <span class="pay-type checked">
                            <i class="icon-zhifubao1 iconfont"></i>
                        </span>
                        <span class="pay-type">
                            <i class="icon-weixin iconfont"></i>
                        </span>
                </div>
            </div>
            <div class="article-share">
                分享:
                <a href="javascript:shareAction('qzone','{{ article.title }}','{{ article.excerpt }}','{{ article.cover_img }}');"
                   title="分享到QQ空间"><i class="iconfont icon-qqkongjian"></i></a>
                <a href="javascript:shareAction('qq','{{ article.title }}','{{ article.excerpt }}','{{ article.cover_img }}');"
                   title="分享到QQ好友"><i class="iconfont icon-qq"></i></a>
                <a href="javascript:shareAction('sina','{{ article.title }}','{{ article.excerpt }}','{{ article.cover_img }}');"
                   title="分享到新浪微博"><i class="iconfont icon-weibo"></i></a>
                <a href="javascript:shareAction('weixin','','','');" title="分享到微信"><i class="iconfont icon-weixin"></i></a>
                <div class="share-wechat">
                    <div class="share-header clearfix">
                        <span>打开微信“扫一扫”</span>
                        <span class="share-close" onclick="closeShare()" title="关闭">x</span>
                    </div>
                    <!-- 二维码 -->
                    <div class="share-code">
                    </div>
                    <div class="share-footer">
                        打开网页后点击屏幕右上角分享按钮，分享到微信朋友或朋友圈
                    </div>
                </div>
            </div>

        </div>

        <div class="article-prenext clearfix">
            <p class="article-prev">上一篇：
                {% if pre_article %}
                    <a href="{% url 'articles:article_detail' pre_article.id %}">{{ pre_article.title }}</a>
                {% else %}
                    这是第一篇文章
                {% endif %}
            </p>
            <p class="article-next">下一篇：
                {% if next_article %}
                    <a href="{% url 'articles:article_detail' next_article.id %}">{{ next_article.title }}</a>
                {% else %}
                    这是最后篇文章
                {% endif %}
            </p>
        </div>
    </div>


    <div class="article-relevant">
            <h3>相关文章</h3>
            <ul class="clearfix">
                {% for relate_article in relate_articles %}
                    <li><a href="{% url 'articles:article_detail' relate_article.id %}"
                           title="{{ relate_article.title }}">{{ relate_article.title }}</a></li>
                {% empty %}
                    暂无相关内容
                {% endfor %}
            </ul>
        </div>

    <div class="article-comments" is_login="{{ is_login }}">
            <h3>文章评论</h3>
            {% if user.is_authenticated %}
                <!--评论区域 begin -->
                <div class="reviewArea">
                    <div class="edit-comments">
                        <textarea placeholder="快来参与讨论，让学习更有趣..."></textarea>
                    </div>
                    <div class="opt clearfix">
                        <p class="comment-input-warn">请回复与本话题有价值的讨论，评论会进行审核，无意义的评论将很快被删除，账号将被禁止发言。</p>
                        <button class="comment-btn" data-article-id="{{ article.id }}">
                            <span>发表评论</span>
                        </button>
                    </div>
                </div>
                <!--评论区域 end -->
            {% else %}
                <div id="no-editor">
                    <div>您尚未登录，请
                        <a class="text-danger login" rel="nofollow">登录</a> 或
                        <a class="text-danger register" rel="nofollow">注册</a> 后评论
                    </div>

                </div>
            {% endif %}

            <!--回复区域 begin -->
            {% include 'article/comment.html' %}
            <!-- 回复区域 end -->
        </div>


{% endblock %}


{% block js %}
{#    <script src="/static/js/base/baidu_js_push.js"></script>#}

    <script src="/static/plugins/editor_md/lib/marked.min.js"></script>
{#    <script src="/static/plugins/editor_md/lib/prettify.min.js"></script>#}
    <script src="/static/plugins/editor_md/lib/google-code-prettify/prettify.js"></script>

    <script src="/static/plugins/editor_md/lib/raphael.min.js"></script>
    <script src="/static/plugins/editor_md/lib/underscore.min.js"></script>
    <script src="/static/plugins/editor_md/lib/sequence-diagram.min.js"></script>
    <script src="/static/plugins/editor_md/lib/flowchart.min.js"></script>
    <script src="/static/plugins/editor_md/lib/jquery.flowchart.min.js"></script>
    <script src="/static/plugins/editor_md/editormd.js"></script>

{#https://www.liujiajia.me/2019/8/27/editor-md-markdowntohtml-and-customize-source-highlight-style#}
{#    <script src="https://cdn.bootcss.com/highlight.js/8.0/highlight.min.js"></script>#}

{#    <script src="{% static 'highlight/highlight.pack.js' %}"></script>#}
{#    <script>hljs.initHighlightingOnLoad();</script>#}
{#    <script src="//cdn.bootcss.com/highlightjs-line-numbers.js/1.1.0/highlightjs-line-numbers.min.js"></script>#}
{#    <script>hljs.initLineNumbersOnLoad();</script>#}
{#    <script src="{% static 'js/article/prism_patched.min.js' %}"></script>#}
    <script src="{% static 'js/common/js_cookie.js' %}"></script>
    <script src="{% static 'js/article/qrcode.js' %}"></script>
{#    <script src="{% static 'js/common/common.js' %}"></script>#}
    <script src="{% static 'js/article/article.js' %}"></script>

    <script type="text/javascript">
        $.ajaxSetup({headers: {"X-CSRFToken": '{{ csrf_token }}'}});
    </script>
{% endblock %}


