{% extends 'base.html' %}
{% load static %}

{% block title %}菜鸟学python-python零基础、菜鸟教程python入门{% endblock %}

{% block description %}菜鸟学pythn-记录从零基础到入门的python知识，web前端、web开发框架Django和Tornado等{% endblock %}

{% block keywords %}python入门、python教程、Django、Tornado {% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/article/article_list.css' %}">
    <link rel="stylesheet" href="{% static 'css/article/column.css' %}">
{% endblock %}


{% block grid-left %}
    {% for category in categories %}
        <div class="category-wrap">
            <div class="category-title clearfix">
                <h2>{{ category.name }}</h2>
                {% if category.article_set.all %}
                    <a href="{% url 'categories' category.id %}">查看更多</a>
                {% endif %}
            </div>
            <ul class="category-article-list clearfix">
                {% for article in category.article_set.all %}
                    <li class="category-article-box fl">
                        <div class="category-article-head">
                            <a href="{% url 'articles:article_detail' article.id %}" target="_blank">
                                <img src="{{ article.cover_img }}">
                            </a>
                        </div>
                        <div class="category-article-center">
                            <h2>
                                <a href="{% url 'articles:article_detail' article.id %}" target="_blank">{{ article.title }}</a>
                            </h2>
                            <p>{{ article.description|safe }}</p>
                        </div>

                        <div class="category-article-bottom">
                            <span class="auth"><i class="icon-yonghu1 iconfont"></i>{{ article.author.username }}</span>
                            <span class="dtime"><i class="icon-shijian iconfont"></i>{{article.create_time|date:'Y年m月d日' }}</span>
                        </div>
                    </li>
                {% empty %}
                    <p class="empty-article">暂时无相关文章，敬请关注!</p>
                {% endfor %}
            </ul>
        </div>
    {% empty %}
        <div class="category-wrap">
            内容尚在建设中，敬请关注，谢谢~~
        </div>
    {% endfor %}
    {#            {% include 'article_list.html' %}#}
{% endblock %}

{% block grid-right %}
{% endblock %}