{% extends 'base.html' %}
{% load static %}

{% block title %}{{ column.name }} - 全民Python{% endblock %}

{#{% block description %}{{ web_desc }}{% endblock %}#}
{##}
{#{% block keywords %}{{ web_keywords }} {% endblock %}#}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/article/article_list.css' %}">
    <link rel="stylesheet" href="{% static 'css/article/column.css' %}">
{% endblock %}


{% block grid-left %}
    {% for category in categories %}
        <div class="category-wrap">
            <div class="category-title clearfix">
                <h2>{{ category.name }}</h2>
                {% if category.article_set.all %}
                    <a href="{% url 'categories' category.id %}" rel="nofollow">查看更多>></a>
                {% endif %}
            </div>
            <ul class="category-article-list clearfix">
                {% for article in category.article_set.all %}
                    <li class="category-article-box fl">
                            <a href="{% url 'articles:article_detail' article.id %}" target="_blank" class="category-article-head">
                                <img src="{{ article.cover_img }}">
                                <span>{{article.title}}</span>
                            </a>
                    </li>
                {% empty %}
                    <p class="empty-article">暂时无相关文章，敬请关注!</p>
                {% endfor %}
            </ul>
        </div>
    {% empty %}
        <div class="category-wrap">
            内容尚在建设中，敬请关注，谢谢~~
        </div>
    {% endfor %}
    {#            {% include 'article_list.html' %}#}
{% endblock %}

{% block grid-right %}
{% endblock %}

{% block js %}
    <script src="/static/js/base/baidu_js_push.js"></script>

    <script type="text/javascript">
        $.ajaxSetup({headers: {"X-CSRFToken": '{{ csrf_token }}'}});
    </script>
{% endblock %}