{% extends 'base.html' %}
{% load static %}

{% block title %}菜鸟学python-python零基础、菜鸟教程python入门{% endblock %}

{% block description %}菜鸟学pythn-记录从零基础到入门的python知识，web前端、web开发框架Django和Tornado等{% endblock %}

{% block keywords %}python入门、python教程、Django、Tornado {% endblock %}

{% block css %}
    <style>
        .banner {
            display: none;
        }
    </style>
{% endblock %}

{% block banner %}
{% endblock %}

{% block grid-left %}
    <div class="title">
        <h3 class="clearfix">
            搜索结果
            <span>系统搜索到约有<strong>{{ articles.paginator.count }}</strong>条符合<strong>【{{ search_key }}】</strong>的查询结果</span>
        </h3>
    </div>
    {% for article in articles.object_list %} {# 第page分页对象的元素列表，做分页获取数据要调用 .object_list #}
        {% include 'article/article_list.html' %}
    {% empty %} {# 在for循环之前检查列表大小是常见的，当列表为空的时候给出特别提示，这是常见的，所以for支持可选empry来当为空时输出 #}
        <div class="">没有搜索到你想要的结果！</div>
    {% endfor %}
    <div class="pagination">
        <ul>
            {% if articles.has_previous %} {# 判断是否有上一页#}
                <li style="color: #c8cdd2;"><a href="?{{ articles.first_page_number.querystring }}">首页</a></li>
                <li style="color: #c8cdd2;"><a href="?{{ articles.previous_page_number.querystring }}">上一页</a></li>
                {# previous_page_number上一页页码#}
            {% endif %}
            {% for page in articles.pages %} {# 判断剩余页面的显示方法#}
                {% if page %}
                    {% ifequal page articles.number %} {# 判断是否当前页，设置样式，number当前页的页码#}
                        <li><a class="current-page" href="?{{ page.querystring }}">{{ page }}</a></li>
                    {% else %}
                        <li><a href="?{{ page.querystring }}">{{ page }}</a></li>
                    {% endifequal %}
                {% else %}
                    <li><a href="">...</a></li>
                {% endif %}
            {% endfor %}
            {% if articles.has_next %} {# 判断是否有下一页#}
                <li><a href="?{{ articles.next_page_number.querystring }}">下一页</a></li> {# next_page_number下一页的页码#}
                <li><a href="?{{ articles.paginator.num_pages.querystring }}">尾页</a></li> {# num_pages页面总数#}
            {% endif %}
            <li><span>共{{ articles.paginator.num_pages }}页</span></li>
            {# count计算集合元素个数 #}
        </ul>
    </div>
{% endblock %}
