{% extends 'base.html' %}
{% load article_date_filter %}
{% load static %}

{% block title %}注册-全民python{% endblock %}

{% block description %}菜鸟学pythn-记录从零基础到入门的python知识，web前端、web开发框架Django和Tornado等{% endblock %}

{% block keywords %}python入门、python教程、Django、Tornado {% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/user/bindAccount.css' %}">
    <link rel="stylesheet" href="{% static 'css/ali_iconfont/iconfont.css' %}">
{% endblock %}


{% block banner %}
{% endblock %}


{% block grid-left %}
    <div id="bind-account-box">
        <div class="bind-account-title clearfix">
            <h2>关联全民python账号</h2>
        </div>
        <div class="user">
            <div class="avatar">
                <img src="{{ avatar_url }}" alt="">
            </div>
            <div class="name">
                {{ nick_name }}
            </div>
            <div class="desc">
                您尚未关联全民python账号
            </div>
            <div class="links">
                <a href="{% url 'user:register'%}?register_type=bind&nick_name={{ nick_name }}&avatar_url={{ avatar_url }}&sex={{ sex }}&open_id={{ open_id }}&signature={{ signature }}&login_type={{ login_type }}" class="btn btn-primary">关联新账号</a>
                <a href="{% url 'user:bindLogin'%}?nick_name={{ nick_name }}&avatar_url={{ avatar_url }}&sex={{ sex }}&open_id={{ open_id }}&login_type={{ login_type }}" class="btn btn-default">关联已有账号</a>
            </div>

        </div>

    </div>
{% endblock %}

{% block grid-right %}

{% endblock %}

{% block js %}
{% endblock %}